/*
.ui-page .ui-content .ui-listview .ui-li-desc {
    white-space : normal;
}

.ui-btn{
    text-align: left !important;
}

.hh {
    white-space: normal;
}

.pubmed {
	background-color:#9CF;
}

*/

.ui-header .ui-title {
    margin-right: 10%;
    margin-left: 10%;
}

#all {
	width:15%;
	padding-left:2px;
	padding-right:2px;
}

#sub {
	width:30%;
	padding-left:2px;
	padding-right:2px;
}

#inh {
	width:30%;
}

#ind {
	width:20%;
}
