/*
.ui-page .ui-content .ui-listview .ui-li-desc {
    white-space : normal;
}

.ui-btn{
    text-align: left !important;
}

.hh {
    white-space: normal;
}

.pubmed {
	background-color:#9CF;
}

*/
.ui-mini .ui-btn-inner {

	padding: 7px 0px;

}

.ui-controlgroup-horizontal .ui-controlgroup-controls {
	display: block;
	width: 100% ;
}

.ui-header .ui-title {
    margin-right: 10%;
    margin-left: 10%;
}

#all {
	width:10%;
	padding-left:2px;
	padding-right:2px;
}

#sub {
	width:25%;
	padding-left:2px;
	padding-right:2px;
}

#inh {
	width:25%;
	padding-left:2px;
	padding-right:2px;
}

#ind {
	width:30%;
	padding-left:2px;
	padding-right:2px;
}
